body {
  margin: 20px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid rgb(16, 24, 64, 0.4);
  border-radius: 0.625rem;
  margin-bottom: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-width: 400px;
}

input:focus {
  border: 1px solid rgb(16, 24, 64, 0.4);
  outline: 1px solid #96a3e7;
}

button {
  background: #101840;
  color: white;
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 15px;
}

ul {
  margin-top: 20px;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-grow: inherit;
}

li {
  margin: 5px;
  list-style: none;
  background-color: rgb(150, 163, 231, 0.4);
  width: max-content;
  padding: 10px;
  border-radius: 10px;
}

a {
  color: #101840;
  cursor: pointer;
  text-decoration: none;
}
