body {
  margin: 20px 10px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  width: 470px;
  border-radius: 20px;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-bottom: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
}

input:focus {
  border: 2px solid #009688; /* Teal 500 */
  outline: none;
}

select {
  /* width: 90%; */
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
  background-color: white;
  color: #009688; /* Teal 500 */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin-left: 15px;
}

select:focus {
  border: 2px solid #009688; /* Teal 500 */
  outline: none;
}

#input-btn {
  background: #04c2af;
  height: 40px;
  color: white;
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

#save-btn {
  background: #009688; /* Teal 500 */
  height: 40px;
  color: white;
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

#delete-btn {
  background: white;
  color: #009688; /* Teal 500 */
  height: 40px;
  padding: 10px 20px;
  border: 1px solid #009688; /* Teal 500 */
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

#input-btn:hover,
#save-btn:hover,
#delete-btn:hover {
  background-color: #00897b;
  color: white; /* Teal 700 */
}

#download-btn {
  border: none;
  cursor: pointer;
  background-color: white;
}

ul {
  margin-top: 20px;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

li {
  margin: 5px;
  list-style: none;
  background-color: #e0f2f1; /* Teal 50 */
  padding: 10px;
  border-radius: 4px;
}

li:hover {
  background-color: #b2dfdb; /* Teal 200 */
}

a {
  color: #009688; /* Teal 500 */
  cursor: pointer;
  text-decoration: none;
}

img {
  width: 55px;
}

img:hover {
  transform: scale(1.1);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button__holder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}

.option:focus {
  background-color: #00897b;
}
